
label.whole_column_label { 
    display: block; 
    /*border: 1px solid #f00;*/
    min-height: 100%; /* for the latest browsers which support min-height */
    height: auto !important; /* for newer IE versions */
    height: 100%; /* the only height-related attribute that IE6 does not ignore  */
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
/*#downloadCSV {
    background-size:contain;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:5px;
    text-decoration:none;
    display: block;
    height:60px;
    width:100px;
    text-align:center;
    background-image: url("../images/excel.PNG") ;
    background-repeat: no-repeat;
}*/
#downloadExcel {
    background-size:contain;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:5px;
    text-decoration:none;
    display: block;
    height:60px;
    width:80px;
    text-align:center;
    background-image: url("../images/Excel_Icon.png") ;
    background-repeat: no-repeat;
}
#pushData {
    background-size:contain;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:5px;
    text-decoration:none;
    display: block;
    height:60px;
    width:80px;
    text-align:center;
    background-image: url("../images/pushData.jpg") ;
    background-repeat: no-repeat;
}
#downloadCSV {
    background-size:contain;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:5px;
    text-decoration:none;
    display: block;
    height:60px;
    width:60px;
    text-align:center;
    background-image: url("../images/download_csv.png") ;
    background-repeat: no-repeat;
}
label.error{
    color: red;
}
.title{
	background: #222222;
	padding: 10px 8px;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 18px;
	text-align:left;
	margin-bottom: 20px;
}

.content_list table{
	width: 100%;
	text-align: center;
	border: 2px solid #222222;
}

.content_list table th{
	text-align: center;
	padding: 4px;
	border: #FFF;
	background: #222222;
	color: #FFF;
}

.content_list table tr td img.thumb{
	width: 96px;
}

.list_pagination{
	font-weight: bold;
	letter-spacing: 2px;
	text-align: right;
	width: 100%;
	padding: 0px;
	float: right;
}

.deleted_item{
	color: #C9302C;
}

.add_new_content{
	text-align: left;
}

.add_new_content form{
	text-align: left;
	width:70%;
	padding:10px;
}

.absolute{
	position: absolute;
}